@font-face {
    font-family: googleFont;
    src: url(/font/Oswald-Light.ttf);
}

* {
    font-family: googleFont;
}

table,
table * {
    border: 1px solid black;
    border-spacing: 0;
}

td,
th {
    padding: 5px;
    text-align: center;
}

* {
    background: rgb(184, 228, 236);
}

header p {
    text-align: center;
}

img {
    width: 200px;
    margin: auto;
}